<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="fast-food"></ion-icon>
      Anasayfa
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      Cart
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle"></ion-icon>
      Account
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-circle"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
